body {
  background-color: var(--violet);
}

.navbar-default, .nav > li > a:focus {
  background-color: var(--violet);
  border-color: var(--violet)
}

.navbar ul > li > a {
  color: var(--white);
}

.navbar ul > li > a:hover {
  color: var(--white);
  background: var(--lightViolet);
  padding-left: 20px;
}

.nav > li > a:hover, .sidebar ul li a.active {
    text-decoration: none;
    background-color: var(--lightViolet);
    padding-left: 20px;
}

.navbar-default .navbar-brand {
  color: var(--white);
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: var(--violet);
  background: var(--white);
}

.table {
  margin-bottom: 0;
}
